body, html {
    margin: 0;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1, h2{
    margin: 0;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
@media (max-width: 320px) {
    h1 {
        font-size: 50px; /* Tamaño de fuente para pantallas medianas */
    }
    h2{
        font-size: 40px; /* Tamaño de fuente para pantallas medianas */
    }
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inicio {
    background: 
        linear-gradient(transparent, #000f),
        url('/img/LigaArg.jpg') center / cover fixed;
}
.primera {
    background: 
        linear-gradient(transparent, #000f),
        url(./img/jugadoresRiver.jpg) top / cover fixed;
}
.reserva {
    background: 
        linear-gradient(transparent, #000f),
        url(/img/jugadoresReserva.jpg) center / cover fixed;
}

button {
    margin-top: 20px;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.25s ease-out;
}
button:hover{
    color: transparent;
    transform: translateY(-3px);
}